#hello_div{
    padding-top:  10px;
    padding-bottom:  10px;
    color: red;
}
.noti{
    width: auto;
    height: 40px;
    background-color: rgb(181, 181, 233);
    color: white;
    border-radius: 5px;
}
.header{
    padding: 40px 0px;
    background-color: lightgrey;
    font-size:xx-large;
    padding-left: 30px;
}
.row{
    margin: 15px;
}
.textrow{
    padding: 10px 0px;
}
.buttonrow{
    margin: 1px 0px;
}
.btn{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2px 0px;
}
.log{
    margin-bottom: 12px;
}
.correct{
    background-color: lightblue;
    padding: 0.5% 0.5%;
    margin-top: 0.5%;
    margin-left: 10px;
    border-radius: 5px;
    color: #3d23b3;
    font-weight: bold;
    border-style: solid;
    height: 50px;
    width: 400px;
    border-width: 1px;
}

.incorrect{
    background-color: rgb(245, 97, 102);
    padding: 0.5% 0.5%;
    margin-top: 0.5%;
    margin-left: 10px;
    border-radius: 5px;
    color: #550505;
    font-weight: bold;
    border-style: solid;
    height: 50px;
    width: 400px;
    border-width: 1px;
}

.textbox{
    margin-bottom: 8px;
}

.item {
    width: 300px;
    height: 330px;
    border-radius: 15%;
}
.drinkname {
    padding-left: 40px;
    margin-top: 10px;
    color: rgb(36, 83, 100);

}
.col-md-4 {
 padding-bottom: 40px;
}
.srtxt{
    color: rgb(77, 77, 197);
    font-weight: bold;
}
.title{
    padding: 0px;
    padding-left: 15%;
    margin: 3px;
    margin-left: 50px;
}
.score{
    color: grey;
    padding-left: 20%;
    font-weight: normal;
    margin: 3px;
    margin-left: 50px;
}
.dimage{
    padding-bottom: 20px;
    border-radius: 15%;
    width: 300px;
    height: 330px;
}
.leftmarg{
    padding-left: 30px;
}
.leftmarg1{
    padding-left: 45px;
}
.inst{
    margin-top: 60px;
}
.topmarg{
    margin-top: 40px;
}
.dimg{
    padding-left: 20%;
}
.Highlight{
    background-color: lightblue;
}
.searchextra{
    padding-left: 60px;
}

.button-6 {
    width: 190px;
    align-items: center;
    background-color: #3d23b3;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 10px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
  }
  
  .button-6:hover,
  .button-6:focus {
    border-color: #3d23b3;
    color: #3d23b3;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: lightblue;
  }
  
  .button-6:hover {
    transform: translateY(-1px);
  }
  
  .button-6:active {
    background-color: lightblue;
    border-color: #3d23b3;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: #3d23b3;
    transform: translateY(0);
  }
  .body{
      background-color: lightgray;
  }
  .headtext{
    margin-top: 30px;
    color:#3d23b3;
  }
  .submitform{
      display: flex;
      text-align: center;
  }
  .right{
      margin-right: 0px;
      padding-right: 0;
      padding-left: 45px;
  }
  .button-7 {
    margin-left: 50px;
    align-items: center;
    background-color: #e90000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 40px;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 170px;
  }
  .button-7:hover {
    border-color: #e90000;
    color: #e90000;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: rgb(230, 173, 173);
  }
  .button-7:active {
    border-color: #e90000;
    color: #e90000;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    background-color: rgb(230, 173, 173);
    transform: translateY(0);
  }
  .button-7:hover {
    transform: translateY(-1px);
  }
  


  .lastrow{
      margin-top: 40px;
  }

  .editimage{
    height: 500px;
    width: auto;
    border-radius: 15%;
  }
  #nofy{
      background-color: rgb(255, 255, 255);
      width: 100%;
      height: 110px;
      border-radius: 5px;
      border-style: solid ;
      border-color: #5846aa;
      padding-top: 1.5% ;
      padding-bottom: 1.5%;
      text-align: center;
  }

  .nottext{
      color: #3d23b3;
      font-weight: bold;
      font-size: large;
      margin-bottom: 10px;
  }

  #lay1{
      font-size: x-large;
      font-family:'Times New Roman', Times, serif;
      color: lightblue;
      font-weight: bold;
  }

  #lay2{
      margin-left: 40px;
  }
  body{
    background-color: transparent !important;
  }
  html{
    background-image: linear-gradient( rgb(214, 237, 245), rgb(255, 255, 255));
    height:max-content;
    background-repeat: no-repeat;
  }
  .h2{
      margin-top: 30px;
      margin-bottom: 50px !important;
      color: #3d23b3 !important;
  }
  img{
      border-radius: 5%;
  }
  textarea{
      border-radius: 5px;
      border-color: lightblue;
      resize: none !important;
  }
textarea{
	overflow: auto;
	overflow-x: hidden;
}

textarea::-webkit-scrollbar-track{
	background-color: lightblue;
}

textarea::-webkit-scrollbar{
	width: 10px;
	background-color: lightblue;
}

textarea::-webkit-scrollbar-thumb{
	border-radius: 100px;
	background-color: #806ae0;
}
.center{
    text-align: center;
}
.header{
    font-weight: bold;
    font-size: medium;
    padding: 20px 5px;
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
.col-md-3{
    margin: 0px 5px;
}
.border{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 10px 1px;
}

.headerd{
    font-weight: bold;
    font-size: medium;
    padding: 5px 10px;
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}
.pad{
    font-weight: bold;
}

.ui-draggable{
    border-radius: 5px;
    height: 66px;
    background-color: rgb(255, 153, 153);
    padding-left: 5%;
}
.ui-droppable{
    border-radius: 5px;
    height: 60px;
}

.ui-draggable-dragging{
    background-color: rgb(255, 153, 153);
    border-color: black;
    border-style: solid;
    z-index:99999;
}
.ui-state-highlight{
    background-color: rgb(94, 116, 225);
    color: black;
}


.ui-no-colour{
    background-color: rgb(255, 153, 153);
}
.ui-no-colourKG{
    background-color: rgb(161, 153, 255);
}
.ui-droppable-hover {
    background: rgb(130, 119, 255);
    color: black;
}

.darker{
    background-color: rgb(161, 153, 255);
}
.ui-draggable:hover{
    background-color: rgb(255, 153, 153);
}
.ui-state-highlight1{
    background-color: rgb(205, 213, 255);
}
.ui-state-highlight1KG{
    background-color: rgb(167, 222, 223);
}
#progressbar.ui-progressbar-value{
    background: #503dae;
    border: #1f1841 solid 10px;
    margin-left: -1px;
}
.ui-progressbar{
    margin-top: 2px;
    height: 20px;
    border: #1f1841 solid 2px;
}
.ui-progressbar-value{
    background: #1f1841;
    border: #1f1841 solid 10px;
    margin-left: -1px;
}

.scale{
    width: 100%;
  
}
.scale1{
    width: 116%;
    margin-bottom: -80px;
}

.tire{
    width: 110%;
   margin-bottom: -30px;
}
.img2  {
    z-index: -10;
}
.tire-weight{
    color: blue;
    font-weight: bold;
}
.leftCol{
    margin-top: 270px;
}
.brick{
    width: 50%;
}
.center-row{
    justify-content: center;
}
.pConvertbtn{
    background-color: #3d23b3;
    border: none;
    color: white;
    cursor: pointer;
}
.sub-label{
    size: 20px;
}

.title-pic{
    height:300px;
    margin-bottom: 20px;
}

.button-calc{
    margin: -10px;
}
.deg{
    color: blue;
    font-weight: bold;
}
.progrepclass{
    color: #3d23b3; font-weight: bold; margin-left: 10%;
}
#prog{
    border: lightblue solid 3px !important; 
}
.spceCorrection{
    margin-top: -50px;
}

.move-down{
    margin-top: 20%;
}

.hover{
    background-color: lightyellow;
    cursor: move;
}
.wb{
    background-color: white;
}
.correctDD{
    padding: 0.5% 0.5%;
    margin-top: 0.5%;
    margin-left: 10px;
    border-radius: 5px;
    color: green;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
}
.wrongDD{
    padding: 0.5% 0.5%;
    margin-top: 0.5%;
    margin-left: 10px;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
}

.drop{
    padding: 0.5% 0.5%;
    margin-top: 0.5%;
    margin-left: 10px;
    border-radius: 5px;
    color: #3d23b3;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
}
.drag{
    padding: 0.5% 0.5%;
    margin-top: 0.5%;
    margin-left: 10px;
    border-radius: 5px;
    color: #3d23b3;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    height: 260px;
}

