{% extends "layout.html" %}

{% block content %}
<script>
    let news={{newstatus|tojson}}
</script>
<script src="../static/distance.js"></script>
    <div class="row h3">
        Distance Converter from Mile to Kilometers (New York to Washington DC)
    </div>
    <div class="row" >
        <div class="col-md-2"></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1569080.1143530577!2d-76.64206401490519!3d39.815748153958715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY!3m2!1d40.7127753!2d-74.0059728!4m5!1s0x89b7c6de5af6e45b%3A0xc2524522d4885d2a!2sWashington%2C%20DC!3m2!1d38.9071923!2d-77.0368707!5e0!3m2!1sen!2sus!4v1650486274869!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="col-md-2">
            <div id="next"></div>
            <div id="weightmeasurements" class="h6">
                1 Mile = 1.6 Kilometers
            </div>
            <div id="weightmeasurements1" class="h6" >
                1 Kilometer = 0.62 Mile
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 h5" style="padding-left: 70px;">
            New York
        </div>
        <div class="col-md-8">
                <div id="progressbar">
                    <div id="myBar"></div>
                </div>
            <div class="row">
                <div class="col-md-4">
                    <button id="increase" class="button-6">Add Kilometers</button>
                </div>
                <div class="col-md-4" id="dist">
                </div>
                <div class="col-md-4">
                    <button id="decrease" class="button-6">Subtract Kilometers</button>
                </div>
            </div>
        </div>
        <div class="col-md-2 h5">
            Washington DC
        </div>
    </div>
    <br>
  
    <div class="row" id="progrow">
    </div>

{% endblock %}