{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
crossorigin="anonymous">
<script src="../static/homepage.js"></script>

<div class="row">
    <div class="h2 center-row">
        Learn about Metric and Standard Measurements
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row center-row">
            <img class="title-pic" src="https://wallpaperaccess.com/full/1564374.jpg" alt="An image of Calculator">
        </div>
    </div>
    <div class="col-md-6">
        <div class="row" >
            <div class="col-md-6">
                <div class="h5">
                    Learn Conversions
                </div>
                <button class="nextbutton" id="learnall">Learn All</button>
                <button class="button-6" id="height">Height</button>
                <button class="button-6" id="weight">Weight</button>
                <button class="button-6" id="distance">Distance</button>
            </div>
            <div class="col-md-6">
                <div class="h5">
                    Test Your Knowledge
                </div>
                <button class="nextbutton" id="quizbutton">Quiz</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}