{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
crossorigin="anonymous">
<script src="../static/homepage.js"></script>

<div class="headtext" id="test">
    <div class="h2 row center-row">
        Convert Metric and Standard Measurments
    </div>
    <div class="row center-row">
        <img class="title-pic" src="https://www.decksgo.com/images/measurement-tool.jpg">
    </div>
    <div class="row center-row">
        <div class="col-md-2"></div>
        <div class="col-md-4 center-row">
            <div class="headtext">
                Learn Conversions
            </div>
            <button class="button-6" id="learnall">Learn All</button>
            <button class="button-6" id="height">Height</button>
            <button class="button-6" id="weight">Weight</button>
            <button class="button-6" id="distance">Distance</button>
        </div>
        <div class="col-md-4">
            <div class="headtext">
                Test Your Knowledge
            </div>
            <button class="button-6" id="quizbutton">Quiz</button>
        </div>
    </div>
</div>


{% endblock %}