{% extends "layout.html" %}

{% block content %}
<script src="../static/p1.js"></script>
<div class="row h3">
    Temprature Converter
</div>
<div class="row">
   Try converting your own temperatures from Celsius to Fahrenheit
</div>
<div class="row">
    <div class="col-md-5">
        <div class="div" style="display: inline-block">
            1.8 *
        </div>
        <div class="div" style="display: inline-block">
            <input type="text" id="degC">C
        </div>
        <div class="div" style="display: inline-block">
            + 32 =
        </div>
        <div class="degF" style="display: inline-block">
        </div>
    </div>
    <div class="col-md-2">
        <div class="calculate" >
            <button class="button-6" onclick="getDegF();">Calculate</button>
        </div>
    </div>
</div>

<div class="row">
    Now try from Fahrenheit to Celsius
 </div>
 <div class="row">
     <div class="col-md-5">
        <div class="div" style="display: inline-block">
            (
            <input type="text" id="degF2">F
        </div>
        <div class="div" style="display: inline-block">
            - 32) * 0.556 =
        </div>
         <div class="degC2" style="display: inline-block">
         </div>
     </div>
     <div class="col-md-2">
         <div class="calculate" >
             <button class="button-6" onclick="getDegC();">Calculate</button>
         </div>
     </div>
 </div>

{% endblock %}