{% extends "layout.html" %}

{% block content %}
<script>
    let news={{newstatus|tojson}}
</script>
<script src="../static/weight.js"></script>
<div class="row h3">
    Weight Converter from Pounds to Kilograms (Drag and Drop height to learn)
</div>
<div class="row">
        <div class="col-md-2 move-down" id="prev"></div>
        <div class="col-md-2">
            <div class="row leftCol" >
                <div class="tire-weight">
                    7 Pounds
                </div>
                <div class="img1">
                    <img class="tire" src="https://pngimg.com/uploads/tire/tire_PNG64.png" alt="An image of Tire">
                </div>
                <div class="img2">
                    <img class="scale1" src="https://www.pngkey.com/png/full/131-1311847_measuring-scales-cartoon-electronics-computer-icons-electric-scale.png" alt="An image of scale">
                </div>
            </div>
        </div>
        <div class="col-md-2" style="text-align: center;">
                <div id="heightdrop" style="height: 500px;">
                    <div id="blankheight">
                    </div>
                    <div id="height">
                    </div>
                </div>
                <div id="height_label">
                    <img class="scale" src="https://www.pngkey.com/png/full/131-1311847_measuring-scales-cartoon-electronics-computer-icons-electric-scale.png" alt="An image of scale">
                </div>
        </div>

        <div class="col-md-2" style="text-align: center">
            <div style="height: 500px;">
                <div style="height: 50px;"></div>
                <div class="h5">
                    Total Weight:
                </div>
                <div id="heightcalculator" class="h5" style="height: 70px;">
                </div>
                <div id="heightmeasurements" class="h6">
                    1 Pound = 0.45 Kilograms
                </div>
                <div id="heightmeasurements1" class="h6" style="height: 180px;">
                    1 Kilogram = 2.2 Pounds
                </div>
                <div id="item">
                </div>
                <div class="headerd" id="item_label">
                    <span class="pad">Drag the weight from here</span>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div id="meterdrop" style="height: 500px;">
                <div id="blankheight1">
                </div>
                <div id="meterheight">
                </div>
            </div>
            <div class="headerd ui-droppable" id="height_label1">
                <span class="pad">Weight in Kilograms</span>
            </div>
        </div>
  
       
        <div class="col-md-1 move-down" id="next"></div>
</div>
<br>
<br>
<br>
<div class="row" id="progrow">
</div>

{% endblock %}